@charset "UTF-8";
/* line 25, ../scss/layout.scss */
* {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  text-shadow: none !important;
}
/* line 30, ../scss/layout.scss */
*:focus {
  outline: none !important;
}

/* line 35, ../scss/layout.scss */
.cms-menu-list li a .icon {
  background-size: cover;
}

/* line 41, ../scss/layout.scss */
.message.good {
  background-color: #B3F37B;
  border-color: #7DC73B;
}
/* line 46, ../scss/layout.scss */
.message, .message.neutral {
  background-color: #fbfbfb;
  border-color: #f3f3f4;
}
/* line 52, ../scss/layout.scss */
.message.error, .message.bad, .message.required, .message.validation {
  background-color: #E8676B;
  border-color: #DC363B;
}
/* line 60, ../scss/layout.scss */
.message.warning {
  background-color: #FFDC78;
  border-color: #E9B804;
}

/* line 66, ../scss/layout.scss */
.cms-edit-form .message {
  margin: 16px 16px 8px 16px !important;
}

/* line 70, ../scss/layout.scss */
.cms-edit-form .ui-tabs-panel .message {
  margin: 16px 0 !important;
}

/* line 74, ../scss/layout.scss */
.cms-content-fields .ui-tabs-nav {
  border-color: #d8d8dc;
}

/* line 78, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a,
.ui-tabs .ui-tabs-nav .ui-state-active a {
  border-color: #465762;
}

/* line 84, ../scss/layout.scss */
#Root_Main .cms-edit-form .message {
  margin: 16px 0 8px 0 !important;
}

/* line 91, ../scss/layout.scss */
.cms a {
  color: #3ba1c7;
}
/* line 94, ../scss/layout.scss */
.cms a:hover {
  color: #3492b5;
}
/* line 99, ../scss/layout.scss */
.cms .cms-content-fields {
  background: #ffffff;
}
/* line 103, ../scss/layout.scss */
.cms .cms-content {
  background: #ffffff;
}
/* line 111, ../scss/layout.scss */
.cms .cms-content-header {
  position: relative;
  background: #f3f3f4;
  color: #465762;
}
/* line 130, ../scss/layout.scss */
.cms .ss-ui-button {
  background: #d8d8dc;
  border-color: #d8d8dc;
}
/* line 134, ../scss/layout.scss */
.cms .ss-ui-button:active, .cms .ss-ui-button:hover, .cms .ss-ui-button:focus {
  background: #cbcbcf;
  border-color: #cbcbcf;
}
/* line 141, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive {
  background: #7DC73B;
  border-color: #7DC73B;
}
/* line 145, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive:active, .cms .ss-ui-button.ss-ui-action-constructive:hover, .cms .ss-ui-button.ss-ui-action-constructive:focus {
  background: #75bd36;
  border-color: #75bd36;
}
/* line 155, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete {
  background: #DC363B !important;
  border-color: #DC363B !important;
}
/* line 159, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete:active, .cms .ui-widget.gridfield-better-buttons-delete:hover, .cms .ui-widget.gridfield-better-buttons-delete:focus {
  background: #da292e !important;
  border-color: #da292e !important;
}

/* line 169, ../scss/layout.scss */
.cms-content-actions,
.cms-preview-controls {
  background: #f3f3f4;
  border-top: none;
}

/* line 176, ../scss/layout.scss */
.cms-menu {
  background: #f3f3f4;
}
/* line 181, ../scss/layout.scss */
.cms-menu .cms-logo-header.north {
  background: #465762;
}
/* line 186, ../scss/layout.scss */
.cms-menu .cms-logo {
  border-bottom: none;
}
/* line 190, ../scss/layout.scss */
.cms-menu .cms-login-status {
  border-top: 1px solid #313d44;
}
/* line 196, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list {
  border-top: 1px solid #313d44;
}
/* line 200, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li a {
  border-top: none;
  border-bottom: none;
  background: #f3f3f4;
  color: #465762;
}
/* line 208, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li:hover a {
  color: #ffffff;
  background: #3ba1c7;
}
/* line 221, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a {
  background: #3ba1c7;
  color: #ffffff;
}
/* line 225, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a:hover {
  background: #3492b5;
}
/* line 231, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current.opened a {
  border-top: none;
}
/* line 242, ../scss/layout.scss */
.cms-menu .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc;
}
/* line 247, ../scss/layout.scss */
.cms-menu .cms-panel-toggle a span {
  color: #465762 !important;
}

/* line 255, ../scss/layout.scss */
.rightsidebar {
  background: #f3f3f4;
  border-left: none !important;
}

/* line 261, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  background: #f3f3f4 !important;
}

/* line 265, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc !important;
}

/* line 269, ../scss/layout.scss */
.cms-content-tools .cms-panel-header {
  border-color: #d8d8dc !important;
}

/* line 274, ../scss/layout.scss */
.cms a.icon-button.font-icon-search,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button,
.cms button.ss-ui-button.icon-button.font-icon-search {
  color: #465762;
}
/* line 280, ../scss/layout.scss */
.cms a.icon-button.font-icon-search:hover,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button:hover,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button:hover,
.cms button.ss-ui-button.icon-button.font-icon-search:hover {
  color: #3ba1c7;
}

/* line 286, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a {
  color: #465762;
}
/* line 289, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a:hover {
  color: #3ba1c7;
}

/* line 294, ../scss/layout.scss */
.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom-color: #465762;
}

/* line 301, ../scss/layout.scss */
.ui-widget-content,
.ui-widget {
  color: #465762;
}

/* line 307, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  color: #465762;
}

/* line 311, ../scss/layout.scss */
.chzn-container .chzn-drop {
  color: #465762;
  border-color: #d8d8dc;
}

/* line 316, ../scss/layout.scss */
.chzn-container-active .chzn-drop {
  border-color: #3ba1c7 !important;
}

/* line 320, ../scss/layout.scss */
.chzn-container .chzn-choices {
  border-color: #d8d8dc !important;
}

/* line 324, ../scss/layout.scss */
.chzn-container-active .chzn-choices {
  border-color: #3ba1c7 !important;
}

/* line 328, ../scss/layout.scss */
.chzn-container .chzn-results .highlighted {
  background: #3ba1c7;
}

/* line 332, ../scss/layout.scss */
.field {
  border: none !important;
}
/* line 336, ../scss/layout.scss */
.field .chzn-container-active .chzn-single {
  border-color: #3ba1c7 !important;
}
/* line 340, ../scss/layout.scss */
.field input {
  border-color: #d8d8dc !important;
}
/* line 343, ../scss/layout.scss */
.field input:focus {
  border-color: #3ba1c7 !important;
}

/* line 349, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  border-color: #d8d8dc !important;
}

/* line 358, ../scss/layout.scss */
.cms table.ss-gridfield-table tr.title th {
  background: #465762;
  border-color: #313d44;
}
/* line 365, ../scss/layout.scss */
.cms table.ss-gridfield-table tr th.main {
  background: #3ba1c7;
  border-color: #3492b5;
  border-top: none;
  border-left: none;
}
/* line 374, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td.bottom-all {
  background: #465762;
  border-color: #313d44;
}
/* line 379, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td:last-child, .cms table.ss-gridfield-table tr td:first-child {
  border-right-color: #f3f3f4;
}

/* line 389, ../scss/layout.scss */
.ss-loading-screen {
  background: #f8f9fa;
  background: -moz-linear-gradient(top, #f8f9fa 0%, #f8f9fa 54%, #ffffff 54%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f8f9fa 0%, #f8f9fa 54%, #ffffff 54%, #ffffff 100%);
  background: linear-gradient(to bottom, #f8f9fa 0%, #f8f9fa 54%, #ffffff 54%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#ffffff',GradientType=0 );
}
/* line 396, ../scss/layout.scss */
.ss-loading-screen:after {
  content: ' ';
  position: absolute;
  top: 54%;
  left: 0;
  right: 0;
  height: 2px;
  margin-top: -3px;
  background: #f3f3f4;
}

/* line 410, ../scss/layout.scss */
.ss-uploadfield .middleColumn {
  border-color: #d8d8dc !important;
}

/* line 415, ../scss/layout.scss */
div.field.has-border {
  border-bottom: none !important;
}

/* line 421, ../scss/layout.scss */
.defaultSkin td.mceToolbar {
  background: #f3f3f4 !important;
}
/* line 425, ../scss/layout.scss */
.defaultSkin a.mceButtonEnabled:hover {
  border: 1px solid #3492b5 !important;
  background-color: #3ba1c7 !important;
}
/* line 431, ../scss/layout.scss */
.defaultSkin table.mceLayout,
.defaultSkin table.mceLayout tr.mceFirst td {
  border-color: #d8d8dc !important;
}
/* line 437, ../scss/layout.scss */
.defaultSkin .mceIframeContainer {
  border-color: #d8d8dc !important;
}

/* line 444, ../scss/layout.scss */
.field input[disabled],
.field input.disabled,
.field textarea[disabled],
.field textarea.disabled,
.field select[disabled],
.field select.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #465762;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(10%, #ffffff));
  background-image: -moz-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: -webkit-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: linear-gradient(#eaeaea, #ffffff 10%);
  border-color: #d8d8dc;
}
/* line 461, ../scss/layout.scss */
.field input[disabled]:active, .field input[disabled]:focus,
.field input.disabled:active,
.field input.disabled:focus,
.field textarea[disabled]:active,
.field textarea[disabled]:focus,
.field textarea.disabled:active,
.field textarea.disabled:focus,
.field select[disabled]:active,
.field select[disabled]:focus,
.field select.disabled:active,
.field select.disabled:focus {
  border-color: #DC363B !important;
}

/* line 468, ../scss/layout.scss */
span.disabled {
  opacity: 0.5;
}

/* line 473, ../scss/layout.scss */
button.ss-gridfield-add-new-inline {
  margin: 16px 0 8px 0 !important;
}
