@charset "UTF-8";
/* line 25, ../scss/layout.scss */
* {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  text-shadow: none !important;
}
/* line 30, ../scss/layout.scss */
*:focus {
  outline: none !important;
}

/* line 35, ../scss/layout.scss */
.cms-menu-list li a .icon {
  background-size: cover;
}

/* line 39, ../scss/layout.scss */
.icon.icon-16.icon-dashboard {
  background: url(../imgs/icons/admin-dashboard.png) !important;
}

/* line 43, ../scss/layout.scss */
.icon.icon-16.icon-securityadmin {
  background: url(../imgs/icons/admin-security.png) !important;
}

/* line 47, ../scss/layout.scss */
#Form_EditorToolbarLinkForm_LinkType_Holder {
  display: block !important;
}

/* line 52, ../scss/layout.scss */
.dropdown-form-action-container .dropdownformaction {
  margin-bottom: 0;
  padding-top: 1px;
  padding-bottom: 2px;
}

/* line 61, ../scss/layout.scss */
.message.good {
  background-color: #B3F37B;
  border-color: #7DC73B;
}
/* line 66, ../scss/layout.scss */
.message, .message.neutral {
  background-color: #fbfbfb;
  border-color: #f3f3f4;
}
/* line 72, ../scss/layout.scss */
.message.error, .message.bad, .message.required, .message.validation {
  background-color: #E8676B;
  border-color: #DC363B;
}
/* line 80, ../scss/layout.scss */
.message.warning {
  background-color: #FFDC78;
  border-color: #E9B804;
}

/* line 86, ../scss/layout.scss */
.cms-edit-form .message {
  margin: 16px 16px 8px 16px !important;
}

/* line 90, ../scss/layout.scss */
.cms-edit-form .ui-tabs-panel .message {
  margin: 16px 0 !important;
}

/* line 94, ../scss/layout.scss */
.cms-content-fields .ui-tabs-nav {
  border-color: #d8d8dc;
}

/* line 98, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-active a {
  border-color: #465762;
}

/* line 103, ../scss/layout.scss */
#Root_Main .cms-edit-form .message {
  margin: 16px 0 8px 0 !important;
}

/* line 110, ../scss/layout.scss */
.cms a {
  color: #3ba1c7;
}
/* line 113, ../scss/layout.scss */
.cms a:hover {
  color: #3492b5;
}
/* line 118, ../scss/layout.scss */
.cms .cms-content-fields {
  background: #ffffff;
}
/* line 122, ../scss/layout.scss */
.cms .cms-content {
  background: #ffffff;
}
/* line 130, ../scss/layout.scss */
.cms .cms-content-header {
  position: relative;
  background: #f3f3f4;
  color: #465762;
}
/* line 149, ../scss/layout.scss */
.cms .ui-widget-content .cms-content-header {
  position: static;
}
/* line 155, ../scss/layout.scss */
.cms .ss-ui-button {
  background: #d8d8dc;
  border-color: #d8d8dc;
}
/* line 159, ../scss/layout.scss */
.cms .ss-ui-button:active, .cms .ss-ui-button:hover, .cms .ss-ui-button:focus {
  background: #cbcbcf;
  border-color: #cbcbcf;
}
/* line 166, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive {
  background: #7DC73B;
  border-color: #7DC73B;
}
/* line 170, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive:active, .cms .ss-ui-button.ss-ui-action-constructive:hover, .cms .ss-ui-button.ss-ui-action-constructive:focus {
  background: #75bd36;
  border-color: #75bd36;
}
/* line 180, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete {
  background: #DC363B !important;
  border-color: #DC363B !important;
}
/* line 184, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete:active, .cms .ui-widget.gridfield-better-buttons-delete:hover, .cms .ui-widget.gridfield-better-buttons-delete:focus {
  background: #da292e !important;
  border-color: #da292e !important;
}

/* line 194, ../scss/layout.scss */
.cms-content-actions,
.cms-preview-controls {
  background: #f3f3f4;
  border-top: none;
}

/* line 201, ../scss/layout.scss */
.cms-menu {
  background: #f3f3f4;
}
/* line 206, ../scss/layout.scss */
.cms-menu .cms-logo-header.north {
  background: #465762;
}
/* line 211, ../scss/layout.scss */
.cms-menu .cms-logo {
  border-bottom: none;
}
/* line 214, ../scss/layout.scss */
.cms-menu .cms-logo a {
  display: none;
}
/* line 218, ../scss/layout.scss */
.cms-menu .cms-logo span {
  margin-left: 0;
}
/* line 223, ../scss/layout.scss */
.cms-menu .cms-login-status {
  border-top: 1px solid #313d44;
}
/* line 229, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list {
  border-top: 1px solid #313d44;
}
/* line 233, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li a {
  border-top: none;
  border-bottom: none;
  background: #f3f3f4;
  color: #465762;
}
/* line 241, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li:hover a {
  color: #ffffff;
  background: #3ba1c7;
}
/* line 254, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a {
  background: #3ba1c7;
  color: #ffffff;
}
/* line 258, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a:hover {
  background: #3492b5;
}
/* line 264, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current.opened a {
  border-top: none;
}
/* line 275, ../scss/layout.scss */
.cms-menu .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc;
}
/* line 280, ../scss/layout.scss */
.cms-menu .cms-panel-toggle a span {
  color: #465762 !important;
}

/* line 288, ../scss/layout.scss */
.rightsidebar {
  background: #f3f3f4;
  border-left: none !important;
}

/* line 294, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  background: #f3f3f4 !important;
}

/* line 298, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc !important;
}

/* line 302, ../scss/layout.scss */
.cms-content-tools .cms-panel-header {
  border-color: #d8d8dc !important;
}

/* line 307, ../scss/layout.scss */
.cms a.icon-button.font-icon-search,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button,
.cms button.ss-ui-button.icon-button.font-icon-search {
  color: #465762;
}
/* line 313, ../scss/layout.scss */
.cms a.icon-button.font-icon-search:hover,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button:hover,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button:hover,
.cms button.ss-ui-button.icon-button.font-icon-search:hover {
  color: #3ba1c7;
}

/* line 320, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a:hover {
  color: #3ba1c7;
}

/* line 325, ../scss/layout.scss */
.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom-color: #465762;
}

/* line 332, ../scss/layout.scss */
.ui-widget-content,
.ui-widget {
  color: #465762;
}

/* line 338, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  color: #465762;
}

/* line 342, ../scss/layout.scss */
.chzn-container .chzn-drop {
  color: #465762;
  border-color: #d8d8dc;
}

/* line 347, ../scss/layout.scss */
.chzn-container-active .chzn-drop {
  border-color: #3ba1c7 !important;
}

/* line 351, ../scss/layout.scss */
.chzn-container .chzn-choices {
  border-color: #d8d8dc !important;
}

/* line 355, ../scss/layout.scss */
.chzn-container-active .chzn-choices {
  border-color: #3ba1c7 !important;
}

/* line 359, ../scss/layout.scss */
.chzn-container .chzn-results .highlighted {
  background: #3ba1c7;
}

/* line 363, ../scss/layout.scss */
.field {
  border: none !important;
}
/* line 367, ../scss/layout.scss */
.field .chzn-container-active .chzn-single {
  border-color: #3ba1c7 !important;
}
/* line 371, ../scss/layout.scss */
.field input,
.field textarea,
.field .TreeDropdownField {
  border-color: #d8d8dc !important;
}
/* line 376, ../scss/layout.scss */
.field input:focus,
.field textarea:focus,
.field .TreeDropdownField:focus {
  border-color: #3ba1c7 !important;
}

/* line 382, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  border-color: #d8d8dc !important;
}

/* line 391, ../scss/layout.scss */
.cms table.ss-gridfield-table tr.title th {
  background: #465762;
  border-color: #313d44;
}
/* line 398, ../scss/layout.scss */
.cms table.ss-gridfield-table tr th.main {
  background: #3ba1c7;
  border-color: #3492b5;
  border-top: none;
  border-left: none;
}
/* line 407, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td.bottom-all {
  background: #465762;
  border-color: #313d44;
}
/* line 412, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td:last-child, .cms table.ss-gridfield-table tr td:first-child {
  border-right-color: #f3f3f4;
}

/* line 422, ../scss/layout.scss */
.ss-loading-screen {
  background: #ffffff;
}

/* line 444, ../scss/layout.scss */
.ss-uploadfield .middleColumn {
  border-color: #d8d8dc !important;
}

/* line 449, ../scss/layout.scss */
div.field.has-border {
  border-bottom: none !important;
}

/* line 455, ../scss/layout.scss */
.defaultSkin td.mceToolbar {
  background: #f3f3f4 !important;
}
/* line 459, ../scss/layout.scss */
.defaultSkin .mceButton {
  border: none !important;
}
/* line 463, ../scss/layout.scss */
.defaultSkin a.mceButtonEnabled:hover {
  background-color: #3ba1c7 !important;
}
/* line 468, ../scss/layout.scss */
.defaultSkin table.mceLayout,
.defaultSkin table.mceLayout tr.mceFirst td {
  border-color: #d8d8dc !important;
}
/* line 474, ../scss/layout.scss */
.defaultSkin .mceIframeContainer {
  border-color: #d8d8dc !important;
}

/* line 481, ../scss/layout.scss */
.field input[disabled],
.field input.disabled,
.field textarea[disabled],
.field textarea.disabled,
.field select[disabled],
.field select.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #465762;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(10%, #ffffff));
  background-image: -moz-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: -webkit-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: linear-gradient(#eaeaea, #ffffff 10%);
  border-color: #d8d8dc;
}
/* line 498, ../scss/layout.scss */
.field input[disabled]:active, .field input[disabled]:focus,
.field input.disabled:active,
.field input.disabled:focus,
.field textarea[disabled]:active,
.field textarea[disabled]:focus,
.field textarea.disabled:active,
.field textarea.disabled:focus,
.field select[disabled]:active,
.field select[disabled]:focus,
.field select.disabled:active,
.field select.disabled:focus {
  border-color: #DC363B !important;
}

/* line 505, ../scss/layout.scss */
span.disabled {
  opacity: 0.5;
}

/* line 510, ../scss/layout.scss */
button.ss-gridfield-add-new-inline {
  margin: 16px 0 8px 0 !important;
}

/* line 515, ../scss/layout.scss */
.ui-dialog {
  background: #ffffff;
  background-clip: content-box;
  border: 1px solid #f3f3f4 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
  padding: 0;
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}
/* line 528, ../scss/layout.scss */
.ui-dialog .cms-content-header {
  margin-top: 0 !important;
}
/* line 532, ../scss/layout.scss */
.ui-dialog .cms-dialog-content {
  background: #ffffff;
}

/* line 538, ../scss/layout.scss */
select, select.dropdown {
  border-color: #d8d8dc !important;
}

/* line 544, ../scss/layout.scss */
.betterbuttons-nested-form {
  position: relative;
  color: #465762 !important;
}
/* line 549, ../scss/layout.scss */
.betterbuttons-nested-form fieldset > div:first-of-type {
  margin-top: 0;
}
/* line 552, ../scss/layout.scss */
.betterbuttons-nested-form fieldset > div:first-of-type label {
  padding-top: 0;
}
/* line 558, ../scss/layout.scss */
.betterbuttons-nested-form .field label.left {
  width: 100%;
}
/* line 562, ../scss/layout.scss */
.betterbuttons-nested-form strong {
  font-weight: bold;
}
/* line 566, ../scss/layout.scss */
.betterbuttons-nested-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  width: 512px;
}
/* line 579, ../scss/layout.scss */
.betterbuttons-nested-form select.dropdown {
  margin-left: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(10%, #ffffff), color-stop(90%, #ffffff), color-stop(100%, #efefef));
  background-image: -moz-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  background-image: -webkit-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  background-image: linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  border: 1px solid #f3f3f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 0 8px;
  color: #465762;
  text-decoration: none;
}
/* line 605, ../scss/layout.scss */
.betterbuttons-nested-form select.dropdown:focus, .betterbuttons-nested-form select.dropdown:active {
  outline: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-color: #3ba1c7 !important;
}

/* line 620, ../scss/layout.scss */
.cf, .fieldgroup-50, .fieldgroup-33, .cms-login-status {
  *zoom: 1;
}
/* line 623, ../scss/layout.scss */
.cf:before, .fieldgroup-50:before, .fieldgroup-33:before, .cms-login-status:before, .cf:after, .fieldgroup-50:after, .fieldgroup-33:after, .cms-login-status:after {
  content: '';
  display: table;
}
/* line 628, ../scss/layout.scss */
.cf:after, .fieldgroup-50:after, .fieldgroup-33:after, .cms-login-status:after {
  clear: both;
}

/* line 633, ../scss/layout.scss */
.clear {
  clear: both;
}
/* line 636, ../scss/layout.scss */
.clear.optionset {
  clear: none;
}
/* line 639, ../scss/layout.scss */
.clear.optionset.field {
  clear: both;
}

/* line 647, ../scss/layout.scss */
.field.full {
  width: 100%;
  margin-left: 0;
}
/* line 651, ../scss/layout.scss */
.field.full + div {
  margin-left: 0;
}
/* line 656, ../scss/layout.scss */
.field.has-border {
  padding: 0px 0px 7px !important;
  margin: 8px 0px !important;
  border-bottom: 1px solid #f3f3f4 !important;
}
/* line 662, ../scss/layout.scss */
.field.no-border {
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 0 !important;
}

/* line 671, ../scss/layout.scss */
.optionset li {
  min-width: 220px;
  width: auto;
}
/* line 677, ../scss/layout.scss */
.optionset.full li {
  width: auto;
  margin-right: 2em;
}

/* line 685, ../scss/layout.scss */
.field-with-extra {
  float: left;
  margin-top: 0;
}
/* line 689, ../scss/layout.scss */
.field-with-extra input {
  width: 512px !important;
}

/* line 694, ../scss/layout.scss */
.field-extra {
  float: left;
  margin-top: 0;
  margin-left: 1.5%;
  min-width: 250px;
  margin-bottom: 0;
}

/* line 703, ../scss/layout.scss */
.no-label label {
  display: none !important;
}
/* line 707, ../scss/layout.scss */
.no-label .middleColumn {
  margin-left: 0;
}

/* line 716, ../scss/layout.scss */
.fieldgroup-50 > * {
  float: left;
  width: 49.25%;
}
/* line 720, ../scss/layout.scss */
.fieldgroup-50 > *:nth-of-type(2n+2) {
  margin-left: 1.5%;
}
/* line 724, ../scss/layout.scss */
.fieldgroup-50 > *.full {
  width: 100%;
  margin-left: 0;
}
/* line 729, ../scss/layout.scss */
.fieldgroup-50 > *.left {
  margin-left: 0;
}
/* line 733, ../scss/layout.scss */
.fieldgroup-50 > *.right {
  margin-left: 1.5%;
}

/* line 743, ../scss/layout.scss */
.fieldgroup-33 > * {
  float: left;
  width: 32.33%;
}
/* line 747, ../scss/layout.scss */
.fieldgroup-33 > *:nth-of-type(2n+2), .fieldgroup-33 > *:nth-of-type(3n+3) {
  margin-left: 1.5%;
}
/* line 752, ../scss/layout.scss */
.fieldgroup-33 > *.full {
  width: 100%;
  margin-left: 0;
}
/* line 757, ../scss/layout.scss */
.fieldgroup-33 > *.left {
  margin-left: 0;
}
/* line 761, ../scss/layout.scss */
.fieldgroup-33 > *.right {
  margin-left: 1.5%;
}

/* line 769, ../scss/layout.scss */
.field-50.composite, .field-50.field {
  float: left;
  width: 49.25%;
  margin-top: 0;
}
/* line 775, ../scss/layout.scss */
.field-50.composite + .field-50, .field-50.field + .field-50 {
  margin-left: 1.5%;
}

/* line 783, ../scss/layout.scss */
.highlighted.composite {
  float: left;
  width: auto;
  margin: 16px 0;
  padding: 16px;
  background: #f3f3f4;
}
/* line 790, ../scss/layout.scss */
.highlighted.composite > h2 {
  margin: 0 0 16px 0;
  line-height: 1;
}
/* line 796, ../scss/layout.scss */
.highlighted.field {
  color: #3ba1c7;
  font-weight: bold;
}

/* line 803, ../scss/layout.scss */
.chzn-container {
  width: 100% !important;
}

/* line 807, ../scss/layout.scss */
.chzn-container .chzn-drop {
  width: calc(100% - 2px) !important;
}

/* line 813, ../scss/layout.scss */
.cms-content-header.north .cms_backlink {
  display: none;
}

/* line 818, ../scss/layout.scss */
.better-buttons-utils,
.dashboard-top-buttons {
  top: 12px !important;
}

/* line 827, ../scss/layout.scss */
.cms-login-status .logout-link {
  float: left;
  display: block;
  padding: 0;
  margin-right: 5px;
}
/* line 834, ../scss/layout.scss */
.cms-login-status span {
  display: block;
  float: left;
  padding: 0;
  width: calc(100% - 21px);
}

/* line 843, ../scss/layout.scss */
.LinkFormFieldLinkmode .chzn-container {
  width: 130px !important;
}

/* line 1, ../scss/_dashboard.scss */
.dashboard {
  margin: 52px 0 16px 16px !important;
  height: 95% !important;
}
/* line 5, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-list {
  margin-left: -16px;
  padding-right: 16px;
}
/* line 10, ../scss/_dashboard.scss */
.dashboard .dashboard-panel {
  padding-top: 16px;
  padding-left: 16px;
  width: 33.33% !important;
  max-width: 100% !important;
}
/* line 16, ../scss/_dashboard.scss */
.dashboard .dashboard-panel.small {
  width: 16.665% !important;
}
/* line 21, ../scss/_dashboard.scss */
.dashboard .dashboard-panel.normal {
  width: 33.33% !important;
}
/* line 27, ../scss/_dashboard.scss */
.dashboard .dashboard-panel.large {
  width: 66.66% !important;
}
/* line 33, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner {
  border: 1px solid #d8d8dc !important;
  background: #ffffff !important;
  height: 425px !important;
}
/* line 38, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-header {
  border-bottom: 1px solid #313d44;
  border-top: 1px solid #465762;
  border-left: 1px solid #465762;
  border-right: 1px solid #465762;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  background: #465762;
  color: #ffffff;
}
/* line 49, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-header .dashboard-panel-icon {
  top: 9px;
  left: 9px;
  width: 24px;
  height: 24px;
}
/* line 56, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-header h3 {
  position: relative;
  top: 1px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: none;
  line-height: 16px;
}
/* line 66, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-content {
  padding: 9px;
  height: 335px;
}
/* line 72, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner ul li {
  border-bottom-color: #f3f3f4;
}
/* line 75, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner ul li a {
  padding: 6px;
}
/* line 78, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner ul li a:hover {
  color: #ffffff;
  background: #3ba1c7;
}
/* line 86, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-footer {
  padding: 0;
  border-bottom: 0;
  background: none;
}
/* line 91, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-footer .dashboard-panel-toolbar {
  top: 5px;
  right: 5px;
}
/* line 95, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-footer .dashboard-panel-toolbar a {
  display: inline-block;
}
/* line 98, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-footer .dashboard-panel-toolbar a img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 107, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-actions {
  padding: 9px 0;
  border-top: 1px solid #f3f3f4;
  background: #f3f3f4;
  height: 28px;
}
/* line 117, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields {
  height: 358px;
}
/* line 120, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields label {
  text-transform: none !important;
}
/* line 124, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize {
  margin: 0 0 9px 0;
  padding: 0;
}
/* line 128, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize li {
  display: inline-block;
  border-bottom: 0;
  margin-left: 0.25em;
}
/* line 133, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize li:first-of-type {
  margin-left: 0;
}
/* line 139, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize li.valsmall label:before {
  content: 'klein';
}
/* line 147, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize li.valnormal label:before {
  content: 'normal';
}
/* line 155, ../scss/_dashboard.scss */
.dashboard .dashboard-panel .dashboard-panel-inner .dashboard-panel-configure-fields #PanelSize li.vallarge label:before {
  content: 'groß';
}
/* line 166, ../scss/_dashboard.scss */
.dashboard .dashboard-has-many-editor {
  background: #f3f3f4;
  border: none;
}
/* line 171, ../scss/_dashboard.scss */
.dashboard .dashboard-has-many-editor-form {
  top: -20px;
  left: 0;
  right: 0;
  width: auto !important;
  background: none;
}
/* line 179, ../scss/_dashboard.scss */
.dashboard .dashboard-has-many-editor-detail-form-form {
  width: auto !important;
  top: 17px;
  left: 17px;
  right: 1px;
  padding: 9px 8px;
  background: #f3f3f4;
}
/* line 189, ../scss/_dashboard.scss */
.dashboard .dashboard-has-many-list a {
  background: none !important;
  margin: 0 !important;
}
/* line 193, ../scss/_dashboard.scss */
.dashboard .dashboard-has-many-list a.delete-link {
  padding-bottom: 0 !important;
}
/* line 200, ../scss/_dashboard.scss */
.dashboard .DashboardQuickLinksPanel {
  position: relative;
}
/* line 205, ../scss/_dashboard.scss */
.dashboard .DashboardQuickLinksPanel ul li a {
  margin-bottom: 6px;
  text-shadow: none !important;
  border: none !important;
  background: #f3f3f4 !important;
}
/* line 214, ../scss/_dashboard.scss */
.dashboard .DashboardQuickLinksPanel ul li a:hover {
  background: #3ba1c7 !important;
}
/* line 221, ../scss/_dashboard.scss */
.dashboard .DashboardQuickLinksPanel ul.dashboard-has-many-list a {
  background: none !important;
  margin: 0 !important;
}
/* line 231, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection.normal {
  width: 100% !important;
}
/* line 235, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .dashboard-panel-inner {
  height: 285px !important;
}
/* line 239, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .dashboard-panel-content {
  height: 179px !important;
}
/* line 243, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .available-panel-icon img {
  max-width: 24px;
}
/* line 247, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .available-panel {
  width: 23%;
  height: 65px;
  margin-right: 1%;
  float: left;
}
/* line 253, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .available-panel:nth-of-type(4n+4) {
  margin-right: 0;
}
/* line 257, ../scss/_dashboard.scss */
.dashboard .dashboard-panel-selection .available-panel:nth-of-type(4n+5) {
  clear: both;
}

/* line 264, ../scss/_dashboard.scss */
.dashboard .DashboardQuickLinksPanel ul li a {
  white-space: normal;
}
