@charset "UTF-8";
/* line 25, ../scss/layout.scss */
* {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  text-shadow: none !important;
}
/* line 30, ../scss/layout.scss */
*:focus {
  outline: none !important;
}

/* line 35, ../scss/layout.scss */
.cms-menu-list li a .icon {
  background-size: cover;
}

/* line 41, ../scss/layout.scss */
.message.good {
  background-color: #B3F37B;
  border-color: #7DC73B;
}
/* line 46, ../scss/layout.scss */
.message, .message.neutral {
  background-color: #fbfbfb;
  border-color: #f3f3f4;
}
/* line 52, ../scss/layout.scss */
.message.error, .message.bad, .message.required, .message.validation {
  background-color: #E8676B;
  border-color: #DC363B;
}
/* line 60, ../scss/layout.scss */
.message.warning {
  background-color: #FFDC78;
  border-color: #E9B804;
}

/* line 66, ../scss/layout.scss */
.cms-edit-form .message {
  margin: 16px 16px 8px 16px !important;
}

/* line 70, ../scss/layout.scss */
.cms-edit-form .ui-tabs-panel .message {
  margin: 16px 0 !important;
}

/* line 74, ../scss/layout.scss */
.cms-content-fields .ui-tabs-nav {
  border-color: #d8d8dc;
}

/* line 78, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-active a {
  border-color: #465762;
}

/* line 83, ../scss/layout.scss */
#Root_Main .cms-edit-form .message {
  margin: 16px 0 8px 0 !important;
}

/* line 90, ../scss/layout.scss */
.cms a {
  color: #3ba1c7;
}
/* line 93, ../scss/layout.scss */
.cms a:hover {
  color: #3492b5;
}
/* line 98, ../scss/layout.scss */
.cms .cms-content-fields {
  background: #ffffff;
}
/* line 102, ../scss/layout.scss */
.cms .cms-content {
  background: #ffffff;
}
/* line 110, ../scss/layout.scss */
.cms .cms-content-header {
  position: relative;
  background: #f3f3f4;
  color: #465762;
}
/* line 129, ../scss/layout.scss */
.cms .ss-ui-button {
  background: #d8d8dc;
  border-color: #d8d8dc;
}
/* line 133, ../scss/layout.scss */
.cms .ss-ui-button:active, .cms .ss-ui-button:hover, .cms .ss-ui-button:focus {
  background: #cbcbcf;
  border-color: #cbcbcf;
}
/* line 140, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive {
  background: #7DC73B;
  border-color: #7DC73B;
}
/* line 144, ../scss/layout.scss */
.cms .ss-ui-button.ss-ui-action-constructive:active, .cms .ss-ui-button.ss-ui-action-constructive:hover, .cms .ss-ui-button.ss-ui-action-constructive:focus {
  background: #75bd36;
  border-color: #75bd36;
}
/* line 154, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete {
  background: #DC363B !important;
  border-color: #DC363B !important;
}
/* line 158, ../scss/layout.scss */
.cms .ui-widget.gridfield-better-buttons-delete:active, .cms .ui-widget.gridfield-better-buttons-delete:hover, .cms .ui-widget.gridfield-better-buttons-delete:focus {
  background: #da292e !important;
  border-color: #da292e !important;
}

/* line 168, ../scss/layout.scss */
.cms-content-actions,
.cms-preview-controls {
  background: #f3f3f4;
  border-top: none;
}

/* line 175, ../scss/layout.scss */
.cms-menu {
  background: #f3f3f4;
}
/* line 180, ../scss/layout.scss */
.cms-menu .cms-logo-header.north {
  background: #465762;
}
/* line 185, ../scss/layout.scss */
.cms-menu .cms-logo {
  border-bottom: none;
}
/* line 188, ../scss/layout.scss */
.cms-menu .cms-logo a {
  display: none;
}
/* line 192, ../scss/layout.scss */
.cms-menu .cms-logo span {
  margin-left: 0;
}
/* line 197, ../scss/layout.scss */
.cms-menu .cms-login-status {
  border-top: 1px solid #313d44;
}
/* line 203, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list {
  border-top: 1px solid #313d44;
}
/* line 207, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li a {
  border-top: none;
  border-bottom: none;
  background: #f3f3f4;
  color: #465762;
}
/* line 215, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li:hover a {
  color: #ffffff;
  background: #3ba1c7;
}
/* line 228, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a {
  background: #3ba1c7;
  color: #ffffff;
}
/* line 232, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current a:hover {
  background: #3492b5;
}
/* line 238, ../scss/layout.scss */
.cms-menu .cms-panel-content.center .cms-menu-list li.current.opened a {
  border-top: none;
}
/* line 249, ../scss/layout.scss */
.cms-menu .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc;
}
/* line 254, ../scss/layout.scss */
.cms-menu .cms-panel-toggle a span {
  color: #465762 !important;
}

/* line 262, ../scss/layout.scss */
.rightsidebar {
  background: #f3f3f4;
  border-left: none !important;
}

/* line 268, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  background: #f3f3f4 !important;
}

/* line 272, ../scss/layout.scss */
.cms-panel.cms-content-tools .cms-panel-toggle.south {
  border-top: 1px solid #d8d8dc !important;
}

/* line 276, ../scss/layout.scss */
.cms-content-tools .cms-panel-header {
  border-color: #d8d8dc !important;
}

/* line 281, ../scss/layout.scss */
.cms a.icon-button.font-icon-search,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button,
.cms button.ss-ui-button.icon-button.font-icon-search {
  color: #465762;
}
/* line 287, ../scss/layout.scss */
.cms a.icon-button.font-icon-search:hover,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button:hover,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button:hover,
.cms button.ss-ui-button.icon-button.font-icon-search:hover {
  color: #3ba1c7;
}

/* line 294, ../scss/layout.scss */
.ui-tabs .ui-tabs-nav .ui-state-default a:hover {
  color: #3ba1c7;
}

/* line 299, ../scss/layout.scss */
.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom-color: #465762;
}

/* line 306, ../scss/layout.scss */
.ui-widget-content,
.ui-widget {
  color: #465762;
}

/* line 312, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  color: #465762;
}

/* line 316, ../scss/layout.scss */
.chzn-container .chzn-drop {
  color: #465762;
  border-color: #d8d8dc;
}

/* line 321, ../scss/layout.scss */
.chzn-container-active .chzn-drop {
  border-color: #3ba1c7 !important;
}

/* line 325, ../scss/layout.scss */
.chzn-container .chzn-choices {
  border-color: #d8d8dc !important;
}

/* line 329, ../scss/layout.scss */
.chzn-container-active .chzn-choices {
  border-color: #3ba1c7 !important;
}

/* line 333, ../scss/layout.scss */
.chzn-container .chzn-results .highlighted {
  background: #3ba1c7;
}

/* line 337, ../scss/layout.scss */
.field {
  border: none !important;
}
/* line 341, ../scss/layout.scss */
.field .chzn-container-active .chzn-single {
  border-color: #3ba1c7 !important;
}
/* line 345, ../scss/layout.scss */
.field input {
  border-color: #d8d8dc !important;
}
/* line 348, ../scss/layout.scss */
.field input:focus {
  border-color: #3ba1c7 !important;
}

/* line 354, ../scss/layout.scss */
.chzn-container-single .chzn-single {
  border-color: #d8d8dc !important;
}

/* line 363, ../scss/layout.scss */
.cms table.ss-gridfield-table tr.title th {
  background: #465762;
  border-color: #313d44;
}
/* line 370, ../scss/layout.scss */
.cms table.ss-gridfield-table tr th.main {
  background: #3ba1c7;
  border-color: #3492b5;
  border-top: none;
  border-left: none;
}
/* line 379, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td.bottom-all {
  background: #465762;
  border-color: #313d44;
}
/* line 384, ../scss/layout.scss */
.cms table.ss-gridfield-table tr td:last-child, .cms table.ss-gridfield-table tr td:first-child {
  border-right-color: #f3f3f4;
}

/* line 394, ../scss/layout.scss */
.ss-loading-screen {
  background: #ffffff;
}

/* line 416, ../scss/layout.scss */
.ss-uploadfield .middleColumn {
  border-color: #d8d8dc !important;
}

/* line 421, ../scss/layout.scss */
div.field.has-border {
  border-bottom: none !important;
}

/* line 427, ../scss/layout.scss */
.defaultSkin td.mceToolbar {
  background: #f3f3f4 !important;
}
/* line 431, ../scss/layout.scss */
.defaultSkin a.mceButtonEnabled:hover {
  border: 1px solid #3492b5 !important;
  background-color: #3ba1c7 !important;
}
/* line 437, ../scss/layout.scss */
.defaultSkin table.mceLayout,
.defaultSkin table.mceLayout tr.mceFirst td {
  border-color: #d8d8dc !important;
}
/* line 443, ../scss/layout.scss */
.defaultSkin .mceIframeContainer {
  border-color: #d8d8dc !important;
}

/* line 450, ../scss/layout.scss */
.field input[disabled],
.field input.disabled,
.field textarea[disabled],
.field textarea.disabled,
.field select[disabled],
.field select.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #465762;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(10%, #ffffff));
  background-image: -moz-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: -webkit-linear-gradient(#eaeaea, #ffffff 10%);
  background-image: linear-gradient(#eaeaea, #ffffff 10%);
  border-color: #d8d8dc;
}
/* line 467, ../scss/layout.scss */
.field input[disabled]:active, .field input[disabled]:focus,
.field input.disabled:active,
.field input.disabled:focus,
.field textarea[disabled]:active,
.field textarea[disabled]:focus,
.field textarea.disabled:active,
.field textarea.disabled:focus,
.field select[disabled]:active,
.field select[disabled]:focus,
.field select.disabled:active,
.field select.disabled:focus {
  border-color: #DC363B !important;
}

/* line 474, ../scss/layout.scss */
span.disabled {
  opacity: 0.5;
}

/* line 479, ../scss/layout.scss */
button.ss-gridfield-add-new-inline {
  margin: 16px 0 8px 0 !important;
}

/* line 484, ../scss/layout.scss */
.ui-dialog {
  background: #ffffff;
  background-clip: content-box;
  border: 1px solid #f3f3f4 !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
  padding: 0;
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}

/* line 498, ../scss/layout.scss */
.betterbuttons-nested-form {
  position: relative;
  color: #465762 !important;
}
/* line 503, ../scss/layout.scss */
.betterbuttons-nested-form fieldset > div:first-of-type {
  margin-top: 0;
}
/* line 506, ../scss/layout.scss */
.betterbuttons-nested-form fieldset > div:first-of-type label {
  padding-top: 0;
}
/* line 512, ../scss/layout.scss */
.betterbuttons-nested-form .field label.left {
  width: 100%;
}
/* line 516, ../scss/layout.scss */
.betterbuttons-nested-form strong {
  font-weight: bold;
}
/* line 520, ../scss/layout.scss */
.betterbuttons-nested-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  width: 512px;
}
/* line 533, ../scss/layout.scss */
.betterbuttons-nested-form select.dropdown {
  margin-left: 0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(10%, #ffffff), color-stop(90%, #ffffff), color-stop(100%, #efefef));
  background-image: -moz-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  background-image: -webkit-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  background-image: linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
  border: 1px solid #f3f3f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 0 8px;
  color: #465762;
  text-decoration: none;
}
/* line 559, ../scss/layout.scss */
.betterbuttons-nested-form select.dropdown:focus, .betterbuttons-nested-form select.dropdown:active {
  outline: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-color: #3ba1c7 !important;
}

/* line 574, ../scss/layout.scss */
.cf, .fieldgroup-50, .fieldgroup-33, .cms-login-status {
  *zoom: 1;
}
/* line 577, ../scss/layout.scss */
.cf:before, .fieldgroup-50:before, .fieldgroup-33:before, .cms-login-status:before, .cf:after, .fieldgroup-50:after, .fieldgroup-33:after, .cms-login-status:after {
  content: '';
  display: table;
}
/* line 582, ../scss/layout.scss */
.cf:after, .fieldgroup-50:after, .fieldgroup-33:after, .cms-login-status:after {
  clear: both;
}

/* line 587, ../scss/layout.scss */
.clear {
  clear: both;
}
/* line 590, ../scss/layout.scss */
.clear.optionset {
  clear: none;
}
/* line 593, ../scss/layout.scss */
.clear.optionset.field {
  clear: both;
}

/* line 601, ../scss/layout.scss */
.field.full {
  width: 100%;
  margin-left: 0;
}
/* line 605, ../scss/layout.scss */
.field.full + div {
  margin-left: 0;
}
/* line 610, ../scss/layout.scss */
.field.has-border {
  padding: 0px 0px 7px !important;
  margin: 8px 0px !important;
  border-bottom: 1px solid #f3f3f4 !important;
}
/* line 616, ../scss/layout.scss */
.field.no-border {
  padding: 0px !important;
  margin: 0px !important;
  border-bottom: 0 !important;
}

/* line 626, ../scss/layout.scss */
.optionset.full li {
  width: auto;
  margin-right: 2em;
}

/* line 634, ../scss/layout.scss */
.field-with-extra {
  float: left;
  margin-top: 0;
}
/* line 638, ../scss/layout.scss */
.field-with-extra input {
  width: 512px !important;
}

/* line 643, ../scss/layout.scss */
.field-extra {
  float: left;
  margin-top: 0;
  margin-left: 1.5%;
  min-width: 250px;
  margin-bottom: 0;
}

/* line 652, ../scss/layout.scss */
.no-label label {
  display: none !important;
}
/* line 656, ../scss/layout.scss */
.no-label .middleColumn {
  margin-left: 0;
}

/* line 665, ../scss/layout.scss */
.fieldgroup-50 > * {
  float: left;
  width: 49.25%;
}
/* line 669, ../scss/layout.scss */
.fieldgroup-50 > *:nth-of-type(2n+2) {
  margin-left: 1.5%;
}
/* line 673, ../scss/layout.scss */
.fieldgroup-50 > *.full {
  width: 100%;
  margin-left: 0;
}
/* line 678, ../scss/layout.scss */
.fieldgroup-50 > *.left {
  margin-left: 0;
}
/* line 682, ../scss/layout.scss */
.fieldgroup-50 > *.right {
  margin-left: 1.5%;
}

/* line 692, ../scss/layout.scss */
.fieldgroup-33 > * {
  float: left;
  width: 32.33%;
}
/* line 696, ../scss/layout.scss */
.fieldgroup-33 > *:nth-of-type(2n+2), .fieldgroup-33 > *:nth-of-type(3n+3) {
  margin-left: 1.5%;
}
/* line 701, ../scss/layout.scss */
.fieldgroup-33 > *.full {
  width: 100%;
  margin-left: 0;
}
/* line 706, ../scss/layout.scss */
.fieldgroup-33 > *.left {
  margin-left: 0;
}
/* line 710, ../scss/layout.scss */
.fieldgroup-33 > *.right {
  margin-left: 1.5%;
}

/* line 718, ../scss/layout.scss */
.field-50.composite, .field-50.field {
  float: left;
  width: 49.25%;
  margin-top: 0;
}
/* line 724, ../scss/layout.scss */
.field-50.composite + .field-50, .field-50.field + .field-50 {
  margin-left: 1.5%;
}

/* line 732, ../scss/layout.scss */
.highlighted.composite {
  float: left;
  width: auto;
  margin: 16px 0;
  padding: 16px;
  background: #f3f3f4;
}
/* line 739, ../scss/layout.scss */
.highlighted.composite > h2 {
  margin: 0 0 16px 0;
  line-height: 1;
}
/* line 745, ../scss/layout.scss */
.highlighted.field {
  color: #3ba1c7;
  font-weight: bold;
}

/* line 752, ../scss/layout.scss */
.chzn-container {
  width: 100% !important;
}

/* line 756, ../scss/layout.scss */
.chzn-container .chzn-drop {
  width: calc(100% - 2px) !important;
}

/* line 762, ../scss/layout.scss */
.cms-content-header.north .cms_backlink {
  display: none;
}

/* line 767, ../scss/layout.scss */
.better-buttons-utils,
.dashboard-top-buttons {
  top: 12px !important;
}

/* line 776, ../scss/layout.scss */
.cms-login-status .logout-link {
  float: left;
  display: block;
  padding: 0;
  margin-right: 5px;
}
/* line 783, ../scss/layout.scss */
.cms-login-status span {
  display: block;
  float: left;
  padding: 0;
  width: calc(100% - 21px);
}
