@import "_mixins";

$action-color: #3ba1c7;
$action-color-hover: darken($action-color, 5%);
$font-color: #465762;
$font-color-light: #b2b7bb;
$border-color: #f3f3f4;
$border-color-dark: darken($border-color, 10%);
$border-color-darker: darken($font-color, 10%);
$box-color: $border-color;
$box-color-light: lighten($box-color, 3%);
$box-color-dark: darken($box-color, 10%);
$box-color-darker: darken($box-color, 15%);

$green: #7DC73B;
$green-hover: darken($green, 3%);
$green-light: #B3F37B;
$red: #DC363B;
$red-hover: darken($red, 3%);
$red-light: #E8676B;
$orange-light: #FFDC78;
$orange: #E9B804;

// - General
* {
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  text-shadow: none !important;

  &:focus {
    outline: none !important;
  }
}

.cms-menu-list li a .icon {
  background-size: cover;
}

.icon.icon-16.icon-dashboard {
  background: url(../imgs/icons/admin-dashboard.png) !important;
}

.icon.icon-16.icon-securityadmin {
  background: url(../imgs/icons/admin-security.png) !important;
}

// - Messages
.message {
  &.good {
    background-color: $green-light;
    border-color: $green;
  }

  &,
  &.neutral {
    background-color: $box-color-light;
    border-color: $border-color;
  }

  &.error,  
  &.bad,  
  &.required, 
  &.validation {
    background-color: $red-light;
    border-color: $red;
  }

  &.warning {
    background-color: $orange-light;
    border-color: $orange;
  }
}

.cms-edit-form .message {
  margin: 16px 16px 8px 16px !important;
}

.cms-edit-form .ui-tabs-panel .message {
  margin: 16px 0 !important;
}

.cms-content-fields .ui-tabs-nav {
  border-color: $border-color-dark;
}

.ui-tabs .ui-tabs-nav .ui-state-active a {
  border-color: $font-color; 
}

#Root_Main {
  .cms-edit-form .message {
    margin: 16px 0 8px 0 !important;
  }
}

// - Main
.cms {
  a {
    color: $action-color;
    
    &:hover {
      color: $action-color-hover;
    }
  }

  .cms-content-fields {
    background: #ffffff;
  }

  .cms-content {
    background: #ffffff;
  }

  .cms-panel-padded {
    // padding: 0 8px 12px;
  }

  .cms-content-header {
    position: relative;
    background: $box-color;
    // padding-left: 8px;
    // border-bottom: 1px solid $border-color-dark;
    color: $font-color;

    // &:after {
    //   position: absolute;
    //   bottom: 0;
    //   left: 8px;
    //   right: 8px;
    //   content: ' ';
    //   height: 1px;
    //   background: $border-color-dark;
    // }
  }

  // - Buttons
  .ss-ui-button {
    background: $box-color-dark;
    border-color: $box-color-dark;
    
    &:active,
    &:hover,
    &:focus {
      background: $box-color-darker;
      border-color: $box-color-darker;
    }

    &.ss-ui-action-constructive {
      background: $green;
      border-color: $green;

      &:active,
      &:hover,
      &:focus {
        background: $green-hover;
        border-color: $green-hover;
      }
    }
  }

  .ui-widget {
    &.gridfield-better-buttons-delete {
      background: $red !important;
      border-color: $red !important;

      &:active,
      &:hover,
      &:focus {
        background: $red-hover !important;
        border-color: $red-hover !important;
      }
    }
  }
}

.cms-content-actions,
.cms-preview-controls {
  background: $box-color;
  border-top: none;
}

// - Left
.cms-menu {
  background: $box-color;
  // border-right: 1px solid $border-color-dark;

  .cms-logo-header {
    &.north {
      background: $font-color;
    }
  }

  .cms-logo {
    border-bottom: none;

    a {
      display: none;
    }

    span {
      margin-left: 0;
    }
  }

  .cms-login-status {
    border-top: 1px solid $border-color-darker;
  }

  .cms-panel-content {
    &.center {
      .cms-menu-list {
        border-top: 1px solid $border-color-darker;

        li {
          a {
            border-top: none;
            border-bottom: none;
            background: $box-color;
            color: $font-color;
          }

          &:hover {
            a {
              color: #ffffff;
              background: $action-color;
            }

            & + li {
              a {

              }
            }
          }

          &.current {
            a {
              background: $action-color;
              color: #ffffff;
              
              &:hover {
                background: $action-color-hover;
              }
            }

            &.opened {
              a {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }

  .cms-panel-toggle {
    &.south {
      border-top: 1px solid $border-color-dark;
    }

    a {
      span {
        color: $font-color !important;
      }
    }
  }
}

// - Rightsidebar
.rightsidebar {
  background: $box-color;
  border-left: none !important;
}

// - Panel South
.cms-panel.cms-content-tools .cms-panel-toggle.south {
    background: $box-color !important;
}

.cms-panel.cms-content-tools .cms-panel-toggle.south {
    border-top: 1px solid $border-color-dark !important;
}

.cms-content-tools .cms-panel-header {
  border-color: $border-color-dark !important;
}

// - Search Icon
.cms a.icon-button.font-icon-search,
.cms .ui-tabs .ui-tabs-nav li a.font-icon-search.icon-button,
.ui-tabs .ui-tabs-nav li .cms a.font-icon-search.icon-button,
.cms button.ss-ui-button.icon-button.font-icon-search {
  color: $font-color;

  &:hover {
    color: $action-color;
  }
}

// - UI Tabs
.ui-tabs .ui-tabs-nav .ui-state-default a {
  &:hover {
    color: $action-color;
  }
}

.ui-tabs.cms-tabset-primary .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav.cms-tabset-nav-primary .ui-state-active a,
.ui-tabs .cms-content-header-tabs .ui-tabs-nav .ui-state-active a {
  border-bottom-color: $font-color;
}

// - UI Widget
.ui-widget-content,
.ui-widget {
  color: $font-color;
}

// - Dropdown / Choosen
.chzn-container-single .chzn-single {
  color: $font-color;
}

.chzn-container .chzn-drop {
  color: $font-color;
  border-color: $border-color-dark;
}

.chzn-container-active .chzn-drop {
  border-color: $action-color !important;
}

.chzn-container .chzn-choices {
  border-color: $border-color-dark !important;
}

.chzn-container-active .chzn-choices {
  border-color: $action-color !important;
}

.chzn-container .chzn-results .highlighted {
  background: $action-color;
}

.field {
  // border-color: $border-color-dark !important;
  border: none !important;

  .chzn-container-active .chzn-single {
    border-color: $action-color !important;    
  }

  input,
  textarea,
  .TreeDropdownField {
    border-color: $border-color-dark !important;

    &:focus {
      border-color: $action-color !important;
    }
  }
}

.chzn-container-single .chzn-single {
  border-color: $border-color-dark !important;
}

// - Gridfield
.cms {
  table.ss-gridfield-table {
    tr {
      &.title {
        th {
          background: $font-color;
          border-color: $border-color-darker;
        }
      }

      th {
        &.main {
          background: $action-color;
          border-color: $action-color-hover;
          border-top: none;
          border-left: none;
        }
      }

      td {
        &.bottom-all {
          background: $font-color;
          border-color: $border-color-darker;
        }

        &:last-child,
        &:first-child {
          border-right-color: $border-color;
        }
      }
    }
  }
}

// - loadingscreen
.ss-loading-screen {
  background: #ffffff;
  // background: #f8f9fa;
  // background: -moz-linear-gradient(top,  #f8f9fa 0%, #f8f9fa 54%, #ffffff 54%, #ffffff 100%);
  // background: -webkit-linear-gradient(top,  #f8f9fa 0%,#f8f9fa 54%,#ffffff 54%,#ffffff 100%);
  // background: linear-gradient(to bottom,  #f8f9fa 0%,#f8f9fa 54%,#ffffff 54%,#ffffff 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#ffffff',GradientType=0 );

  // &:after {
  //   content: ' ';
  //   position: absolute;
  //   top: 54%;
  //   left: 0;
  //   right: 0;
  //   height: 2px;
  //   margin-top: -3px;
  //   background: $border-color;
  // }
}

// - Uploadfield
.ss-uploadfield {
  .middleColumn {
    border-color: $border-color-dark !important;
  }
}

div.field.has-border {
  border-bottom: none !important;
}

// - Tinymce
.defaultSkin {
  td.mceToolbar {
    background: $box-color !important;
  }

  a.mceButtonEnabled:hover {
    border: 1px solid $action-color-hover !important;
    background-color: $action-color !important;
  }

  table.mceLayout {
    &,
    tr.mceFirst td {
      border-color: $border-color-dark !important;
    }
  }

  .mceIframeContainer {
    border-color: $border-color-dark !important;
  }
}

// - Disabled Fields
.field {
  input[disabled],
  input.disabled,
  textarea[disabled],
  textarea.disabled,
  select[disabled],
  select.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    color: $font-color;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(10%, #ffffff));
    background-image: -moz-linear-gradient(#eaeaea, #ffffff 10%);
    background-image: -webkit-linear-gradient(#eaeaea, #ffffff 10%);
    background-image: linear-gradient(#eaeaea, #ffffff 10%);
    border-color: $border-color-dark;

    &:active,
    &:focus {
      border-color: $red !important;
    }
  }
}

span.disabled {
  opacity: 0.5;
}

// - Inline Gridfield Add New
button.ss-gridfield-add-new-inline {
  margin: 16px 0 8px 0 !important;
}

// - Better Buttons Popup
.ui-dialog {
  background: #ffffff;
  background-clip: content-box;
  border: 1px solid $border-color !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: visible;
  padding: 0;
  -moz-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
}

.betterbuttons-nested-form {
  position: relative;
  color: $font-color !important;

  fieldset {
    & > div:first-of-type {
      margin-top: 0;

      label {
        padding-top: 0;
      }
    }
  }

  .field label.left {
    width: 100%;
  }

  strong {
    font-weight: bold;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    width: 512px;
  }

  select.dropdown {
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(10%, #ffffff), color-stop(90%, #ffffff), color-stop(100%, #efefef));
    background-image: -moz-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
    background-image: -webkit-linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
    background-image: linear-gradient(#efefef, #ffffff 10%, #ffffff 90%, #efefef);
    border: 1px solid $border-color;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0 0 8px;
    color: $font-color;
    text-decoration: none;

    &:focus,
    &:active {
      outline: none;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      border-color: $action-color !important;
    }
  }
}

// - ------
// - Tweaks
// --------

.cf {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clear {
  clear: both;

  &.optionset {
    clear: none;

    &.field {
      clear: both;
    }
  }
}

// - Field
.field {
  &.full {
    width: 100%;
    margin-left: 0;

    & + div {
      margin-left: 0;
    }
  }

  &.has-border {
    padding: 0px 0px 7px !important;
    margin: 8px 0px !important;
    border-bottom: 1px solid $border-color !important;
  }

  &.no-border {
    padding: 0px !important;
    margin: 0px !important;
    border-bottom: 0 !important;
  }
}

// - Optionset
.optionset {
  &.full {
    li {
      width: auto;
      margin-right: 2em;
    }
  }
}

// - Field with extra
.field-with-extra {
  float: left;
  margin-top: 0;

  input {
    width: 512px !important;
  }
}

.field-extra {
  float: left;
  margin-top: 0;
  margin-left: 1.5%;
  min-width: 250px;
  margin-bottom: 0;
}

.no-label {
  label {
    display: none !important;
  }

  .middleColumn {
    margin-left: 0;
  }
}

// - Fieldgroup 50%
.fieldgroup-50 {
  @extend .cf;

  & > * {
    float: left;
    width: 49.25%;

    &:nth-of-type(2n+2) {
      margin-left: 1.5%;
    }

    &.full {
      width: 100%;
      margin-left: 0;
    }

    &.left {
      margin-left: 0;
    }

    &.right {
      margin-left: 1.5%;
    }
  }
}

// - Fieldgroup 33%
.fieldgroup-33 {
  @extend .cf;

  & > * {
    float: left;
    width: 32.33%;

    &:nth-of-type(2n+2),
    &:nth-of-type(3n+3) {
      margin-left: 1.5%;
    }

    &.full {
      width: 100%;
      margin-left: 0;
    }

    &.left {
      margin-left: 0;
    }

    &.right {
      margin-left: 1.5%;
    }
  }
}

// - Field 50%
.field-50 {
  &.composite,
  &.field {
    float: left;
    width: 49.25%;
    margin-top: 0;

    & + .field-50 {
      margin-left: 1.5%;
    }
  }
}

// - Field Highlighting
.highlighted {
  &.composite {
    float: left;
    width: auto;
    margin: 16px 0;
    padding: 16px;
    background: $box-color;
    
    & > h2 {
      margin: 0 0 16px 0;
      line-height: 1;
    }
  }

  &.field {
    color: $action-color;
    font-weight: bold;
  }
}

// - Dropdown styling
.chzn-container {
  width: 100% !important;
}

.chzn-container .chzn-drop {
  width: calc(100% - 2px) !important;
}

// - Better Buttons
.cms-content-header.north {
  .cms_backlink {
    display: none;
  }
}

.better-buttons-utils,
.dashboard-top-buttons {
  top: 12px !important;
}

// - Logout
.cms-login-status {
  @extend .cf;

  .logout-link {
    float: left;
    display: block;
    padding: 0;
    margin-right: 5px;
  }

  span {
    display: block;
    float: left;
    padding: 0;
    width: calc(100% - 21px);
  }
}

// - NamedLinkField
.LinkFormFieldLinkmode .chzn-container {
  width: 130px !important;
}

@import "_dashboard";
